{%extends 'base.template.html'%}
{% load crispy_forms_tags %}
{% load static %}
{%block bg-img%}
style= "background-image: url('{% static 'images/glove-laugh.jpg'%}'); background-size: cover; background-position: center;  background-repeat: repeat-x;")
{%endblock%}

{% block content %}
{% if validlink %}
<div style="display:flex; justify-content: center;">
  <div style="background-color: rgba(0,0,0,0.6); padding: 10px; margin-top: 3%; border-radius: 5px;">
    <h1 style="margin-top: 3%; text-align: center; font-weight: bold; color: #ffd23f;font-family: Calligraffitti;">Enter your new password:</h1>
    <div style="color: white !important; display: flex; justify-content: center;">
      <form method="POST" "">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Set my new password" class="btn" style="background-color: #f17e5c">
      </form>
    </div>
  </div>
</div>
{% else %}
<div style="display:flex; justify-content: center;">
  <div style="background-color: rgba(0,0,0,0.6); padding: 10px; margin-top: 3%; border-radius: 5px;">
    <h4 style="margin-top: 3%; text-align: center; font-weight: bold; color: #ffd23f;font-family: Calligraffitti;">The password reset link was invalid, possibly because it has already been used.  Please request for another new password reset.</h4>
    </div>
</div>

{%endif%}
<div id = "height-img-mobile" style="min-height: 500px;"></div>
{% endblock %}
