{%extends 'base.template.html'%}
{% load crispy_forms_tags %}
{% load static %}
{%block bg-img%}
style= "background-image: url('{% static 'images/glove-laugh.jpg'%}'); background-size: cover; background-position: center;  background-repeat: repeat-x;")
{%endblock%}

{% block content %}
<div style="display:flex; justify-content: center;">
  <div style="background-color: rgba(0,0,0,0.6); padding: 10px; margin-top: 3%; border-radius: 5px;">
    <h1 style="color:#ffd23f; font-family: Alegreya SC;">Password reset complete</h1>
    <p style="color: white;">Your new password has been set. You can now log in <a style="color: #ffd23f;" href="{% url 'login' %}">here</a>.</p>
    </div>
</div>
<div id = "height-img-mobile" style="min-height: 500px;"></div>
{% endblock %}