{%extends 'base.template.html'%}
{% load crispy_forms_tags %}
{% load static %}
{%block bg-img%}
style= "background-image: url('{% static 'images/technique.jpeg'%}'); background-size: cover; background-position: top;  background-repeat: no-repeat;")
{%endblock%}

{% block content %}
{% if validlink %}
<div style="display:flex; justify-content: center;">
  <div style="background-color: rgba(0,0,0,0.6); padding: 10px; margin-top: 3%; border-radius: 5px;">
    <h1 style="margin-top: 3%; text-align: center; font-weight: bold; color: #ffd23f;font-family: Calligraffitti;">Confirmation Email Sent!!</h1>
    <div style="color: white; display: flex; justify-content: center;">
      <form method="POST" "">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Set my new password" class="btn" style="background-color: #f17e5c">
      </form>
    </div>
  </div>
</div>
{% else %}
<h1>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</h1>

{%endif%}
<div style="min-height: 500px;"></div>
{% endblock %}
