{%extends 'base.template.html'%}
{% load crispy_forms_tags %}
{% load static %}
{%block bg-img%}
style= "background-image: url('{% static 'images/technique.jpeg'%}'); background-size: cover; background-position: top;  background-repeat: no-repeat;")
{%endblock%}

{% block content %}
<div style="display:flex; justify-content: center;">
  <div style="background-color: rgba(0,0,0,0.6); padding: 10px; margin-top: 3%; border-radius: 5px;">
    <h1 style="margin-top: 3%; text-align: center; font-weight: bold; color: #ffd23f;font-family: Calligraffitti;">Confirmation Email Sent!!</h1>
    <div style="color: white; display: flex; justify-content: center;">
      <p>Please check your inbox and follow the instructions attached. If you did not receive an email, please <a style="color:#ffd23f;" href="{% url "password_reset" %}">reset</a> your password again</p>
    </div>
  </div>
</div>
<div style="min-height: 500px;"></div>
{% endblock %}
