{%extends 'base.template.html'%}
{% load custom_tags %}
{%block bg-img%}
style="background-color: #373f51;"
{%endblock%}
{%block content%}
<div style="display:flex; flex-direction: column; align-items:center;">
    <h1>My Basket</h1>
    <table style="color: white; padding: 3px;background-color: #373f51; margin-top: 20px; display: flex; justify-content:center">
        <tr style="color: black; padding: 0;" class="bkt-table-row bkt-table-rowhead">
            
            <th class="bkt-table-col">
                
            </th>
            <th class="bkt-table-col">
                Product
            </th>
            <th class="bkt-table-col disposable-col">
                Description
            </th>
            <th class="bkt-table-col">
                Unit Price
            </th>
            <th class="disposable-col">
                
            </th>
            <th style="text-align:center;" class="bkt-table-col">
                Quantity
            </th>
            <th>
                
            </th>
            <th style="text-align:center;" class="bkt-table-col">
                Total Sessions
            </th>
            <th class="bkt-table-col">
                Total Cost
            </th>
        </tr>
        {%for item in all_basket_items%}
        <tr style="padding: 0;" class="bkt-table-row">
            
            <td class="bkt-table-col">
                <a style=""href="{% url 'removefrombasket' bkt_item_id=item.id %}"> <i style="text-align:left; color:#ec4e20" class="fas fa-minus-circle"></i></a>
            </td>
            <td class="bkt-table-col">
                {{item.product}} 
            </td>
            <td class="bkt-table-col disposable-col">
                {{item.product.description}}
            </td>
            <td class="bkt-table-col" style="text-align:center;">
                $ {% widthratio item.product.price 100 1 %}
            </td>
            <td class= "disposable-col">
                <a style="{% if item.product.sku == '000001' and item.quantity_to_buy <= 1 %}display:none; {%endif%} text-decoration:none; font-size:1em; color: #ffd23f;" href="{%url 'removefrombasketfrombasket' product_id=item.product.id%}"><i class="fas fa-minus"></i></a>
            </td>
            <td class="bkt-table-col" style="text-align:center;">
                {{item.quantity_to_buy}} 
            </td>
            <td>
                <a style="{% if item.product.sku == '000001' and item.quantity_to_buy >= 1 %}display:none; {%endif%} text-decoration:none; font-size:1em; color: #ffd23f;" href="{%url 'addtobasketfrombasket' product_id=item.product.id%}"><i class="fas fa-plus"></i></a>
            </td>
            <td class="bkt-table-col" style="text-align:center;">
                {% widthratio item.product.sessions 1 item.quantity_to_buy %}
            </td>
            <td class="bkt-table-col" style="text-align:center;">
                $ {% calculate_total_tag item.quantity_to_buy item.product.price %}
            </td>
        </tr>
        {%endfor%}
    </table>
</div>
<div style="display:flex; flex-direction: column; align-items:center; margin-left: 50%; margin-top: 10px;">
    <table style="color: white;">
        <tr style="padding: 0;" class="bkt-table-row">
            <td>
                Total Amount: $ {{original_cost}}
            </td>
        </tr>
        {%if number_of_items >= 5%}
        <tr>
            <td>
                10% Discount Applied for purchasing over 5 packages! 
            </td>
        </tr>
        {%endif%}
        <tr style="padding: 0;" class="bkt-table-row">
            <td style="font-size: 1.5em;">
                Final Amount: $ {{total_cost}}
            </td>
        </tr>
        
        <tr style="padding: 0;" class="bkt-table-row">
            <td>
                <a id= "payment" style="text-decoration: none; font-size: 1.5em;" href="{% url 'pay_here' %}">Make Payment</a> <i id="payment-pointer" style="color: #ffd23f; font-size: 1.5em;" class="far fa-hand-point-left"></i>
            </td>
        </tr>
    </table>
</div>
<div style="min-height: 500px; display:flex; flex-direction: column; align-items:center; margin-right: 50%; margin-top: 10px;">
    <table style="padding: 10%; color:white;">
        <tr>
            <td>
                
            </td>
            <td style="font-size: 2em; color: #ffd23f;">
                Did you KNOW?
            </td>
        </tr>
        <tr>
            <td>
                <i style="color: #ffd23f;" class="fas fa-check-circle"></i>
            </td>
            <td>
                Buy 5 packages, and get 10% off your total bill! 
            </td>
        </tr>
        <tr>
            <td>
                <i style="color: #ffd23f;" class="fas fa-check-circle"></i>
            </td>
            <td>
                After purchase, you will be contacted within 1-2 business days!
            </td>
        </tr>
    </table>
</div>

{%endblock%}