{%extends 'base.template.html' %}
{%load static%}
{%block bg-img%}
style= "background-image: url('{% static 'images/hero.jpg'%}'); background-size: cover; background-position: top;  background-repeat: no-repeat;")
{%endblock%}
{% load crispy_forms_tags %}
{%block title%}
<h1 style="text-align: center; margin-top: 30px;">Hey, Welcome Back!</h1>
{%endblock%}
{%block content%}
<div style="display:flex; flex-direction:row; justify-content: center; margin-top: 30px; color:white;">
    <form method="POST" style="background-color: rgba(0,0,0,0.5); padding: 30px; border-radius: 5px; margin-bottom: 300px;">
        {%csrf_token%}
        {{form|crispy}}
        <input class="btn btn-primary" id="login-btn" style=""type="submit" name="login-btn" value="Login"/>
        <a style= "text-decoration: none; color:white; padding: 5px;"href="{% url 'password_reset' %}">Forgot your password?</a>
    </form>
    
</div>

{%endblock%}