{%extends 'base.template.html'%}
{% load crispy_forms_tags %}
{% load static %}

{%block bg-img%}
style="background-color: #373f51"
{%endblock%}

{%block title%}
<h1 style="text-align: center; color: #ffd23f; ">Your Profile</h1>
{%endblock%}

{%block content%}
{%if user.is_authenticated%}
<div style="color: #ffd23f; display:flex; flex-direction: column; align-items: center;">
    <img style="width: 150px; height: 150px; border-radius: 100px; background-color: white;"src="{{ user.photo.url }}"/>
    <div style="width:100%; display:flex; flex-direction: row; justify-content: space-around;">
        <table>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    {{user.first_name}} {{user.last_name}}
                </td>
            </tr>
            <tr>
                <td>
                    Mobile:
                </td>
                <td>
                    {{user.mobile}}
                </td>
            </tr>
            <tr>
                <td>
                    Email:
                </td>
                <td>
                    {{user.email}}
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    Injuries:
                </td>
                <td>
                    {{user.injuries}}
                </td>
            </tr>
            <tr>
                <td>
                    About me:
                </td>
                <td>
                    {{user.self_depict}}
                </td>
            </tr>
        </table>
    </div>
    

    <form method='POST'  enctype="multipart/form-data">
    add profile picture
    </form>
</div>
{%endif%}
{%endblock%}