{%extends 'base.template.html'%}
{% load crispy_forms_tags %}
{% load static %}

{%block bg-img%}
{% if 'administrator' == request.user.groups.all.0.name %} 
style="background-color: #255f85; color: black !important;"
{%else%}
style="background-color: #373f51;"
{%endif%}
{%endblock%}

{%block title%}
<div style="margin-left: 20%; font-size: 2em; color: #ffd23f;">My Profile<button type="button" style="color:white;"class="btn btn-sm" data-placement="bottom" data-toggle="popover" title="Your Privacy matters!" data-content="Note that your personal details will not be shared with any third parties or be used for anything apart from providing you with this business's intended services."><i class="fas fa-info-circle"></i></button></div>

{%endblock%}

{%block content%}
{%if user.is_authenticated%}
<div style="height: 190px; display:flex; justify-content: center; color: white;">
    <form method= 'POST' enctype="multipart/form-data"> 
        <div class="col-2 text-center">
            
            {% if user.photo %}
            <img style="position: relative; width: 150px; height: 150px; border-radius: 100px; background-color: transparent;"src="{{ get_user.photo.url }}"/>
            {%endif%} 
            <div style="display: flex; flex-direction: column; left: 60px; bottom: -64px; position:absolute; z-index: 6; width: 63px;">
                
                {%csrf_token%}
                <label id="show_upload_img"style="cursor: pointer; color: #ffd23f;"for="file-upload">
                    <i class="fas fa-upload"></i>
                </label>
                <input style="display:none;"id="file-upload"class="edit_profile_box" type="file" name="photo"/>
                <a style="visibility: hidden;" id="cancel-update-0"><i style="color: #ec4e20;" class="fas fa-times-circle"></i></a>
                <input id="upload_button" style="color: white; visibility:hidden; width: 60px;" class="update-button" value="upload" type="submit"/>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid" style="color: #ffd23f; margin-top: 80px;">
    <!-- first row : change first name -->
    
    <div class="row justify-content-center" style="margin-bottom: 1em;">
        <div class="col-3 text-center profile-edit-col">
            <i class="fas fa-user"></i>
            <div style="font-size: 0.7em;">First Name</div>
        </div>
        <div class="col-3 profile-edit-col" style="color: white;">
            <div style="width: 100%; text-align:left;"id="no_show_edit_1">{{get_user.first_name}}</div>
            <div style="display:none; width: 100%" id="show_edit_1">
                
                <form method= 'POST'> 
                {%csrf_token%}
                    <input class="edit_profile_box" type="text" name="first_name"/>
                    <button class="update-button" value="update_first_name" type="submit">Update</button>
                </form>
            </div>
        </div>

        <div class="col-3 text-center profile-edit-col">
            <a style="visibility: hidden;" id="cancel-update-1"><i style="color: #ec4e20;" class="fas fa-times-circle"></i></a>
            <a class="edit_profile" id="edit_profile1"><i class="fas fa-pen-nib"></i></a>
        </div>
    </div>
    
    <!-- 2nd row : change last name -->
    
    <div class="row justify-content-center" style="margin-bottom: 1em;">
        <div class="col-3 text-center profile-edit-col">
            <i class="far fa-user"></i>
            <div style="font-size: 0.7em;">Last Name</div>
        </div>
        <div class="col-3 profile-edit-col" style="color: white;">
            <div style="width: 100%; text-align:left;"id="no_show_edit_2">{{get_user.last_name}}</div>
            <div style="display:none; width: 100%" id="show_edit_2">
                
                <form method= 'POST'> 
                {%csrf_token%}
                    <input class="edit_profile_box" type="text" name="last_name"/>
                    <button class="update-button" value="update_second_name" type="submit">Update</button>
                </form>
            </div>
        </div>

        <div class="col-3 text-center profile-edit-col">
            <a style="visibility: hidden;" id="cancel-update-2"><i style="color: #ec4e20;" class="fas fa-times-circle"></i></a>
            <a class="edit_profile" id="edit_profile2"><i class="fas fa-pen-nib"></i></a>
        </div>
    </div>
    
    <!-- 3rd row : change mobile -->
    
    <div class="row justify-content-center" style="margin-bottom: 1em;">
        <div class="col-3 text-center profile-edit-col">
            <i class="fas fa-phone"></i>
            <div style="font-size: 0.7em;">Mobile</div>
        </div>
        <div class="col-3 profile-edit-col" style="color: white;">
            <div style="width: 100%; text-align:left;"id="no_show_edit_3">{{get_user.mobile}}</div>
            <div style="display:none; width: 100%" id="show_edit_3">
                
                <form method= 'POST'> 
                {%csrf_token%}
                    <input class="edit_profile_box" type="text" name="mobile"/>
                    <button class="update-button" value="update_mobile" type="submit">Update</button>
                </form>
            </div>
        </div>

        <div class="col-3 text-center profile-edit-col">
            <a style="visibility: hidden;" id="cancel-update-3"><i style="color: #ec4e20;" class="fas fa-times-circle"></i></a>
            <a class="edit_profile" id="edit_profile3"><i class="fas fa-pen-nib"></i></a>
        </div>
    </div>
    
    <!-- 4th row : change email -->
    
    <div class="row justify-content-center" style="margin-bottom: 1em;">
        <div class="col-3 text-center profile-edit-col">
            <i class="far fa-envelope"></i> 
            <div style="font-size: 0.7em;">Email</div>
        </div>
        <div class="col-3 profile-edit-col" style="color: white;">
            <div style="width: 100%; text-align:left;"id="no_show_edit_4">{{get_user.email}}</div>
            <div style="display:none; width: 100%" id="show_edit_4">
                
                <form method= 'POST'> 
                {%csrf_token%}
                    <input class="edit_profile_box" type="email" name="email"/>
                    <button class="update-button" value="update_email" type="submit">Update</button>
                </form>
            </div>
        </div>

        <div class="col-3 text-center profile-edit-col">
            <a style="visibility: hidden;" id="cancel-update-4"><i style="color: #ec4e20;" class="fas fa-times-circle"></i></a>
            <a class="edit_profile" id="edit_profile4"><i class="fas fa-pen-nib"></i></a>
        </div>
    </div>
    
    <!-- 5th row : change username -->
    
    <div class="row justify-content-center" style="margin-bottom: 1em;">
        <div class="col-3 text-center profile-edit-col">
            <i class="fas fa-chess-knight"></i>
            <div style="font-size: 0.7em;">Username</div>
        </div>
        <div class="col-3 profile-edit-col" style="color: white;">
            <div style="width: 100%; text-align:left;"id="no_show_edit_5">{{get_user.username}}</div>
            <div style="display:none; width: 100%" id="show_edit_5">
                
                <form method= 'POST'> 
                {%csrf_token%}
                    <input class="edit_profile_box" type="text" name="username"/>
                    <button class="update-button" value="update_mobile" type="submit">Update</button>
                </form>
            </div>
        </div>

        <div class="col-3 text-center profile-edit-col">
            <a style="visibility: hidden;" id="cancel-update-5"><i style="color: #ec4e20;" class="fas fa-times-circle"></i></a>
            <a class="edit_profile" id="edit_profile5"><i class="fas fa-pen-nib"></i></a>
        </div>
    </div>
    
    <!-- 6th row : change injuries -->
    
    <div class="row justify-content-center" style="margin-bottom: 1em;">
        <div class="col-3 text-center profile-edit-col">
            <i class="fas fa-briefcase-medical"></i>
            <div style="font-size: 0.7em;">Injuries</div>
        </div>
        <div class="col-3 profile-edit-col" style="color: white;">
            <div style="width: 100%; text-align:left;"id="no_show_edit_6">{{get_user.injuries}}</div>
        </div>
        <div class="col-3 text-center profile-edit-col">
            <a style="visibility: hidden;" id="cancel-update-6"><i style="color: #ec4e20;" class="fas fa-times-circle"></i></a>
            <a type="button" data-toggle="modal" data-target="#exampleModalCenter1" class="edit_profile" id="edit_profile6"><i class="fas fa-pen-nib"></i></a>
        </div>
        
        <!-- Modal for editing injuries section of profile-->
        <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div style="background-color: #373f51;"  class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle"><i class="fas fa-briefcase-medical"></i> Injuries</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    <form method= 'POST'> 
                    {%csrf_token%}
                        <textarea style="width: 100%; border-color: transparent; background-color: transparent; color: white;" type="text" name="injuries" placeholder="{{get_user.injuries}}"></textarea>
                    
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="update-button" value="update_injuries" type="submit">Update</button>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
    
    <!-- 7th row : change self-depiction -->
    
    <div class="row justify-content-center" style="margin-bottom: 1em;">
        <div class="col-3 text-center profile-edit-col">
            <i class="fas fa-info"></i>
            <div style="font-size: 0.7em;">Info</div>
        </div>
        <div class="col-3 profile-edit-col" style="color: white;">
            <div style="width: 100%; text-align:left;" id="no_show_edit_7">{{get_user.self_depict}}</div>
        </div>
        <div class="col-3 text-center profile-edit-col">
            <a style="visibility: hidden;" id="cancel-update-6"><i style="color: #ec4e20;" class="fas fa-times-circle"></i></a>
            <a type="button" data-toggle="modal" data-target="#exampleModalCenter2" class="edit_profile" id="edit_profile7"><i class="fas fa-pen-nib"></i></a>
        </div>
        
        <!-- Modal for editing injuries section of profile-->
        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div style="background-color: #373f51;"  class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle"><i class="fas fa-info"></i> Additional Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    <form method= 'POST'> 
                    {%csrf_token%}
                        <textarea style="width: 100%; border-color: transparent; background-color: transparent; color: white;" type="text" name="self_depict" placeholder="{{get_user.self_depict}}"></textarea>
                    
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="update-button" value="update_injuries" type="submit">Update</button>
                </form>
              </div>
            </div>
          </div>
        </div>
</div>
{%endif%}
{%endblock%}
{% block footer_js %}
<script>
    $(function () {
            $('[data-toggle="popover"]').popover()
        })
    
    $(document).ready(function() {
        $("#show_upload_img").click(function(){
            $("#upload_button").css({"visibility":"visible"})
            $("#cancel-update-0").css("visibility","visible")
        })
        $("#cancel-update-0").click(function() {
            $("#upload_button").css({"visibility":"hidden"})
            $("#cancel-update-0").css("visibility","hidden")
          });
          $("#edit_profile1").click(function display_edit() {
            $("#no_show_edit_1").css({"display":"none", "text-align":"left"})
            $("#show_edit_1").css({"display":"block","text-align":"left"})
            $("#cancel-update-1").css("visibility","visible")
            $("input").focus()
          });
          $("#cancel-update-1").click(function no_display_edit() {
            $("#no_show_edit_1").css({"display":"inline","text-align":"left"})
            $("#show_edit_1").css({"display":"none","text-align":"left"})
            $("#cancel-update-1").css("visibility","hidden")
          });
          $("#edit_profile2").click(function display_edit() {
            $("#no_show_edit_2").css({"display":"none", "text-align":"left"})
            $("#show_edit_2").css({"display":"block","text-align":"left"})
            $("#cancel-update-2").css("visibility","visible")
            $("input").focus()
          });
          $("#cancel-update-2").click(function no_display_edit() {
            $("#no_show_edit_2").css({"display":"inline","text-align":"left"})
            $("#show_edit_2").css({"display":"none","text-align":"left"})
            $("#cancel-update-2").css("visibility","hidden")
          });
          $("#edit_profile3").click(function display_edit() {
            $("#no_show_edit_3").css({"display":"none", "text-align":"left"})
            $("#show_edit_3").css({"display":"block","text-align":"left"})
            $("#cancel-update-3").css("visibility","visible")
            $("input").focus()
          });
          $("#cancel-update-3").click(function no_display_edit() {
            $("#no_show_edit_3").css({"display":"inline","text-align":"left"})
            $("#show_edit_3").css({"display":"none","text-align":"left"})
            $("#cancel-update-3").css("visibility","hidden")
          });
          $("#edit_profile4").click(function display_edit() {
            $("#no_show_edit_4").css({"display":"none", "text-align":"left"})
            $("#show_edit_4").css({"display":"block","text-align":"left"})
            $("#cancel-update-4").css("visibility","visible")
            $("input").focus()
          });
          $("#cancel-update-4").click(function no_display_edit() {
            $("#no_show_edit_4").css({"display":"inline","text-align":"left"})
            $("#show_edit_4").css({"display":"none","text-align":"left"})
            $("#cancel-update-4").css("visibility","hidden")
          });
          $("#edit_profile5").click(function display_edit() {
            $("#no_show_edit_5").css({"display":"none", "text-align":"left"})
            $("#show_edit_5").css({"display":"block","text-align":"left"})
            $("#cancel-update-5").css("visibility","visible")
            $("input").focus()
          });
          $("#cancel-update-5").click(function no_display_edit() {
            $("#no_show_edit_5").css({"display":"inline","text-align":"left"})
            $("#show_edit_5").css({"display":"none","text-align":"left"})
            $("#cancel-update-5").css("visibility","hidden")
          });

        });
</script>

{%endblock%}