{%extends 'base.template.html'%}
{% load static %}
{%block bg-img%}
style= "background-image: url('{% static 'images/glove-laugh.jpg'%}'); background-size: cover; background-position: center;  background-repeat: no-repeat;")
{%endblock%}
{% load crispy_forms_tags %}
{%load static%}
{%block title%}

{%endblock%}
{%block content%}

<div data-aos="fade-up"
     data-aos-duration="2500" style="font-family: Alegreya SC; color: white; display: flex; justify-content: center; margin-top: 200px; ">
    
    <form method="POST" enctype="multipart/form-data" style="border-radius: 3px; margin-right:1em; margin-left:1em; max-width:375px; background-color: rgba(0,0,0,0.7); padding: 20px; margin-bottom: 300px;">
        <h1 id ="register-title-mobile"style=" color: #ffd23f; font-family: Alegreya SC; text-align: center; text-shadow: 3px 3px 2px black;">Welcome to OlecraFit!</h1>
        {%csrf_token%}
        {{form|crispy}}
        <input style="visibility:hidden" type="file"  id="default-image" placeholder="default user photo" name="default_profile_photo" value={% static "images/user-icon.png" %}/>
        <input type="submit" class= "btn"name="register-btn" value="Register"style="background-color: #ffd23f"/>
        <button type="button" style="color:white;"class="btn btn-sm" data-toggle="popover" title="Your Privacy matters!" data-content="Note that your personal details will not be shared with any third parties or be used for anything apart from providing you with this business's intended services.">My Privacy?</button>
    </form> 
    
</div>
{%endblock%}

{% block footer_js %}
<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>
{%endblock%}
