{%extends 'base.template.html' %}
{%block bg-img%}
style="background-color: #255f85; color: #ffd23f;"
{%endblock%}
{%block content%}
{% if 'administrator' == request.user.groups.all.0.name %} 
<h1>DASHBOARD</h1>

<div class = "container-fluid">
    <h3>USERS & CUSTOMERS</h3>
    <div class="row">
        <div class="col-5">
            Total number of users:
        </div>
        <div class="col-5">
            {{number_of_users}}
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            Total number of customers:
        </div>
        <div class="col-5">
            {{number_of_customer}}
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            Conversion Rate:
        </div>
        <div class="col-5">
            {{conversion_rate}}%
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            Transactions that reached the payment phase, but not charged:
        </div>
        <div class="col-5">
            {{tx_without_charges}}
        </div>
    </div>
    <h3>TOTAL TRANSACTION & STATUS BREAKDOWN</h3>
    <div class="row">
        <div class="col-5">
            Total Number of Transactions:
        </div>
        <div class="col-5">
            {{all_tx}}
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            Tx Status - Pending:
        </div>
        <div class="col-5">
            {{tx_pending}}
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            Tx Status - Approved:
        </div>
        <div class="col-5">
            {{tx_approved}}
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            Tx Status - Delivered:
        </div>
        <div class="col-5">
            {{tx_delivered}}
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            Tx Status - Shipping:
        </div>
        <div class="col-5">
            {{tx_shipping}}
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            Tx Status - Lost:
        </div>
        <div class="col-5">
            {{tx_lost}}
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            Tx Status - Rejected:
        </div>
        <div class="col-5">
            {{tx_rejected}}
        </div>
    </div>
    <h3>MONETARY BREAKDOWN</h3>
    <div class="row">
        <div class="col-5">
            Total Amount made: 
        </div>
        <div class="col-5">
            $ {{amount_earned_in_dollars}}
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            Total products sold: 
        </div>
        <div class="col-5">
            {{all_products_sold}}
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            Starter's package sold: 
        </div>
        <div class="col-5">
            {{starter_sold}}
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            Beginner package sold: 
        </div>
        <div class="col-5">
            {{beginner_sold}}
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            Intermediate package sold: 
        </div>
        <div class="col-5">
            {{intermediate_sold}}
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            Advanced package sold: 
        </div>
        <div class="col-5">
            {{advanced_sold}}
        </div>
    </div>
    <h3>SHOP STOCK LEVELS + EDIT</h3><a href="/administrator/update_stock"><i class="fas fa-layer-group"></i></a>

    {%for item in stock%}
    <div class="row">
        <div class="col-5">
            {{item.product_name}}
        </div>
        <div class="col-5">
            {{item.stock_level}}
        </div>
        
    </div>
    {%endfor%}
    <div>
        Total amount of money made
    </div>
</div>

<div>
    <ul>
        <h3>All users</h3>
        {%for user in all_users%}
        <li>
            {{user}}
            <a href="view_user/{{user.id}}"><i class="far fa-eye"></i></a>
        </li>
        {%endfor%}
    </ul>
</div>

{% endif %}
{%endblock%}

