{%extends 'base.template.html' %}
{%block bg-img%}
style="background-color: #255f85; color: #ffd23f;"
{%endblock%}
{%block content%}

{% if 'administrator' == request.user.groups.all.0.name %} 

<h1>USER SEARCH </h1>
<p>(choose one search type at a time)</p>
<div>
    <form method="POST" style="margin: 5px;">
        {%csrf_token%}
        <div class="row">
            <label class="col-3">Search by First Name Only:</label>
            <input class="col-3" type="text" name="search_by_first_name"/>
            <input type= "submit" value="Search" class = "btn btn-secondary col-1"/>
        </div>
    </form>
    <form method="POST" style="margin: 5px;">
        {%csrf_token%}
        <div class="row">
            <label class="col-3">Search by Mobile Only (Specific Searching):</label>
            <input class="col-3" type="text" name="search_by_mobile"/>
            <input type= "submit" value="Search" class = "btn btn-secondary col-1"/>
        </div>
    </form>
    <form method="POST" style="margin: 5px;">
        {%csrf_token%}
        <div class="row">
            <label class="col-3">Search by Email Only (Specific Searching):</label>
            <input class="col-3" type="text" name="search_by_email"/>
            <input type= "submit" value="Search" class = "btn btn-secondary col-1"/>
        </div>
    </form>
    <form method="POST" style="margin: 5px;">
        {%csrf_token%}
        <div class="row">
            <label class="col-3" >Search by Transaction Type Only:</label>
            <select class="col-3" type="text" name="search_by_tx_type">
                <option value="blank" active></option>
                <option value="pending">Pending</option>
                <option value="rejected">Rejected</option>
                <option value="delivered">Delivered</option>
                <option value="lost">Lost</option>
                <option value="approved">Approved</option>
                <option value="shipping">Shipping</option>
            </select>
            <input type= "submit" value="Search" class = "btn btn-secondary col-1"/>
        </div>
    </form>
</div>

<div style="display:flex; justify-content: space-around; flex-wrap: wrap">
    <div>
        <h1>Search Results by User</h1>
        {%for user in search_results%}
        <div class="row">
            <div class="col-2">
                <!-- if not searching by transaction type -->
                {{user.first_name}} {{user.last_name}} {{user.mobile}}
            </div>
            <div class="col-1">
                <a style="font-size: 1em; color: white; margin-left: 10px;" href="view_user/{{user.id}}"><i class="far fa-eye"></i></a>
            </div>
        </div>
        {%endfor%}
        <hr style="background-color:white;">
        <!-- if searching by transaction type -->
        <h1>Search Results by Transaction Type</h1>
        {%for user in search_results_tx%}
        <div class="row">
            <div class="col-2">
                <!-- not searching by transaction type -->
                {{user.first_name}} {{user.last_name}} {{user.mobile}}
                <!-- searching by transaction type -->
                {{user.owner.first_name}} {{user.owner.last_name}} {{user.owner.mobile}}
            </div>
            <div class="col-1">
                <a style="font-size: 1em; color: white; margin-left: 10px;" href="view_user/{{user.id}}"><i class="far fa-eye"></i></a>
            </div>
        </div>
        {%endfor%}
        <hr style="background-color:white;">
    </div>
</div>
<hr style="background-color:white;">
<h1>ALL USERS</h1>
<div>
    {%for user in all_users%}
    <div class="row">
        <div class="col-2">
            {{user.first_name}} {{user.last_name}} - contact: {{user.mobile}}
        </div>
        <div class="col-1">
            <a style="font-size: 1em; color: white; margin-left: 10px;" href="view_user/{{user.id}}"><i class="far fa-eye"></i></a>
        </div>
    </div>
    {%endfor%}
</div>



{%endif%}

{%endblock%}