{%extends 'base.template.html' %}
{%block bg-img%}
style="background-color: #255f85; color: #ffd23f"
{%endblock%}
{%block content%}

view the user! 
<div>
    <form method="POST">
        {%csrf_token%}
        <input type="submit" value="Delete" name="delete_user"/>
    </form>
</div>
<div>
    <h1>Details</h1><a href="/administrator/edit_user/{{get_user.id}}"><i class="fas fa-users-cog"></i></a>
    <p>First Name: {{get_user.first_name}}</p>
    <p>Last Name: {{get_user.last_name}}</p>
    <p>Mobile: {{get_user.mobile}}</p>
</div>

<div>
    <h1>Transactions</h1>
    {%for t in get_user_tx%}
    <p>{{t}} <a href="/administrator/tx_user/{{t.id}}"><i class="fas fa-file-alt"></i></a><a href="/administrator/charge_user/{{t.id}}"></a></p>
    <form method="POST" action="/administrator/update_tx_status/{{get_user.id}}/{{t.id}}">
        {%csrf_token%}
        <select name="tx_status">
            <option  value="pending">Pending</option>
            <option value="rejected">Rejected</option>
            <option value="delivered">Delivered</option>
            <option value="lost">Lost</option>
            <option value="approved">Approved</option>
            <option value="shipping">Shipping</option>
        </select> 
        <input type="submit" name="edit_tx_status" value="update status"/>
    </form>
    
    
    
    <p>{{t.status}}</p>
    <p>{{t.charge.amount}}</p>
    {%endfor%}
</div>

{%endblock%}