.nav-link{
    color:white;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    margin-left:15px;
}

.nav-link:hover{
    color:#ec4e20 !important;
}

.navbar-brand{
    color: white;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.navbar-brand:hover{
    color:#ec4e20 !important;
}

#cta{
    background-color: #ffd23f;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    border-radius: 5px;
}
#cta:hover{
    background-color: #d1ac34 !important;
}

.basket-btn{
    background-color: #ec4e20;
    border-color: #ec4e20;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.basket-btn:hover{
    background-color: #f17e5c;
    border-color: #f17e5c;
}

#login-btn{
    color: black;
    background-color: #ffd23f;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    border-radius: 5px;
    border-color: #ffd23f;
}
#login-btn:hover{
    background-color: #d1ac34 !important;
    border-color: #ffd23f;
}

.bkt-table-rowhead{
    background-color: #ffd23f;
}

.bkt-table-row{
    border-bottom: 1px #ffd23f solid;
}

.bkt-table-col{
    padding:10px;
    margin:10px;
}

.profile-table-row{
    border-bottom: 1px #ffd23f solid;
}

.profile-table-col{
    padding:10px;
    margin:10px;

}

@media only screen and (max-width: 600px){
    .bkt-table-col{
    padding:0px;
    }
    .disposable-col{
        display:none;
    }
    input{
    width: 25%;
}
}

#payment{
    color: #ffd23f;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
#payment:hover{
    color: #d1ac34 !important;
}

#payment-pointer{
    animation-name: pointing;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
}
@keyframes pointing {
    0% {transform: translateX(0px)}
    25% {transform: translateX(8px)}
    50% {transform: translateX(0px)}
    75% {transform: translateX(8px)}
    100% {transform: translateX(0px)}
}

.edit_profile{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    background-color: #373f51;
    box-shadow: none; 
    border: none;
    color: white;
}

.update-button{
    background-color: transparent;
    border: 1px #ffd23f solid;
    color: #ffd23f;
    padding: 0.3em;
    border-radius: 3px;
}
input{
    width: 50%;
}