.nav-link{
    color:white;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    margin-left:15px;
}

.nav-link:hover{
    color:#ec4e20 !important;
}

.navbar-brand{
    color: white;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.navbar-brand:hover{
    color:#ec4e20 !important;
}

#cta{
    background-color: #ffd23f;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    border-radius: 5px;
}
#cta:hover{
    background-color: #d1ac34 !important;
}

.basket-btn{
    background-color: #ec4e20;
    border-color: #ec4e20;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.basket-btn:hover{
    background-color: #f17e5c;
    border-color: #f17e5c;
}

#login-btn{
    color: black;
    background-color: #ffd23f;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    border-radius: 5px;
    border-color: #ffd23f;
}
#login-btn:hover{
    background-color: #d1ac34 !important;
    border-color: #ffd23f;
}