{%extends 'base.template.html'%}
{%load static%}
{%block bg-img%}
style= "background-image: url('{% static 'images/wrapping-hands-guy.jpg'%}'); background-size:cover; background-position: center;  background-repeat: repeat-x;")
{%endblock%}
{%block content%}
<div id="height-img-mobile"style="min-height: 100px;">
    
</div>

{%endblock%}

{%block content2%}

<div data-aos="fade-up"
     data-aos-duration="2500" style="padding: 1em;">
    <div style="height: 3em;">
        <a style= "color: #ec4e20; text-decoration: none; font-size: 1.5em;" href="{% url "blogPage" %}"><i class="fas fa-arrow-left"></i></a>
    </div>
    
    <div style="width: 100%; display: flex; flex-direction: row;  font-family: Alegreya SC; flex-wrap: wrap;">
        <div style="flex: 4;">
            <div class="blog-content-info" style="display: flex; justify-content: space-evenly; flex-wrap: wrap;">
                <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap; width: 750px;">
                    <h2 style="text-decoration: underline; color: #ec4e20; padding-left: 10px; padding-right: 10px; text-align: center;">Problems in Martial Arts Gyms</h2>
                    <p style="text-align: center;">
                        favouritism, neglect and injuries...
                    </p>
                    <img class="blog-content-post-img" style="height: 500px;" src="{% static 'images/glove-put.jpg' %}"></img>
                    <div style="margin-top: 15px; font-family: Farro; line-height: 30px;">
                        
                        <p>
                         There is an insidious trend of martial arts gyms NOT providing sufficient personal attention needed by their members, and as a result, creating incorrect techniques and conflict. Unfortunately, this also typically causes unnecessary injuries and pushes people away from a beautiful sport. This trend is sadly exacerbated by the lingering 'dangerous' perspective of learning a combat sport like Muay Thai. 
                        </p>
                        <p>
                            Under such circumstances, it is no surprise that the concept of learning Muay Thai is intimidating enough to turn away most people right from the get-go. Martial Arts Gyms need to come to terms with the fact that not everyone wants to enter the ring to compete. 
                        </p>
                        <p>
                             At OlecraFit, we place heavy emphasis on helping you nail the foundations of Muay Thai techniques and working closely with you every step along the way to make sure you have something to take away from every session regardless of your goals. 
                        </p>
                        <p>
                            All that should be required of you is the willingness to learn and improve. In our eyes, the fact that you turn up wanting to improve your skillset is enough proof and is very commendable.
                        </p>
                        <p>
                            We believe Muay Thai is a beautiful art that everyone is missing out on! We want to give everyone the opportunity to learn Muay Thai in our own special way by providing 1-1 personalised sessions and tailoring it to you individual learning styles. 
                        </p>
                        <p>
                            Nobody should feel afraid to pick up a new skill.
                        </p>
                    </div>
                </div>
            </div>
            
            
        </div>
        <div style="flex: 1; margin-bottom: 1em;">
            <div id="about-blog-section" style="display: flex; flex-direction: column; justify-content: center; align-items: space-evenly; padding-left: 40px; border-left: 1px #ec4e20 solid; ">
                <div style="display: flex; flex-direction: column;align-items: center;">
                    <h2 style="padding-left: 10px; padding-right: 10px; width: 200px; text-align: center;">About Us</h2>
                    <img style="margin-top: 20px; margin-bottom: 20px; width: 200px; height: 200px;" src="{% static 'images/square_profile_pic.jpg' %}"></img>
                    <p style="padding-left: 10px; padding-right: 10px; width: 250px; text-align: center;">
                        At OleraFit, we define fitness to work for your health with our high quality services.
                    </p>
                    <p>
                        <i class="far fa-circle" style="font-size: 1em; color: #ec4e20;"></i>
                    </p>
                    <p style="padding-left: 10px; padding-right: 10px; width: 250px; text-align: center;">
                        Over 7 years of experience in Muay Thai Fitness Training.
                    </p>
                    <p>
                        <i class="far fa-circle" style="font-size: 1em; color: #ec4e20;"></i>
                    </p>
                    <p style="padding-left: 10px; padding-right: 10px; width: 250px; text-align: center;">
                        Recognised Tertiary qualifications in Human Nutrition Studies.
                    </p>
                </div>
                
            </div>
        </div>
        
        
    </div>
    

    
    
</div>
{%endblock%}