{%extends 'base.template.html'%}
{%load static%}
{%block bg-img%}
style= "background-image: url('{% static 'images/hero.jpg'%}'); background-size: cover; background-position: top;  background-repeat: no-repeat;")
{%endblock%}
{%block title%} <h1 style="padding: 10px;text-align: center; color: #ffd23f;text-shadow:2px 2px black">Choose a Personal Training package most suitable for you! </h1>{%endblock%}

{%block content%}

<div >
    <div class="flex-container" style="display:flex; flex-direction:row; flex-wrap: wrap; justify-content: space-around;">
        {%for i in items%}
        
        <div class="card" style="box-shadow: 3px 3px 5px; border-radius: 25px; flex-basis: 400px; margin:12px; width:100%; text-align: center; {%if starter_check and i.sku == '000001' %}display:none;{%endif%}">
            
            <div style="background-color: #ffd23f; border-top-left-radius: 25px;border-top-right-radius: 25px; padding:12px;">
                <h2 class="card-title">{{i.product_name}}</h2>
                
            </div>
            
            <div class="card-body" style="min-height: 400px; background-color: #373f51; color: white;">
                <h2>${% if i.sku == "000001" %}<strike>100</strike>{%endif%} {% widthratio i.price 100 1 %}</h2>
                <h5>for {{i.sessions}} session(s)</h5>
                <p class="card-text">{{i.description}}</p>
                <p>SKU: {{i.sku}}</p>
            </div>
            <hr style="margin:0; padding:0">
            <div style="background-color: #373f51; border-bottom-left-radius: 25px ; border-bottom-right-radius: 25px; padding: 15px; width:100%">
                {%if not user.is_authenticated%}
                <a style="box-shadow:1px 1px 3px black;" href="{%url "register" %}" class="btn btn-primary basket-btn">Register to Purchase</a>
                {%endif%}
                {%if user.is_authenticated%}
                <a {% if bkt_starter_bool == False and i.sku == '000001' %} onclick="return false;" {%endif%} style="{% if bkt_starter_bool == False and i.sku == '000001' %} text-decoration:line-through; {%endif%}box-shadow:1px 1px 3px black;"class="btn btn-primary basket-btn" href="{%url 'addtobasket' product_id=i.id%}">Add to my Basket</a>
                {%endif%}
            </div>
            
        </div>
        {%endfor%}
    </div>
</div>
{%endblock%}

<!--animation for adding to basket-->
{%block footer_js%}
{%if added == '1' %}
<script>
    let element =  document.querySelector('.jumping-btn')
    element.classList.add('animated', 'jello')
</script>
{%endif%}
{%endblock%}