{%extends 'base.template.html'%}

{% load static %}
{%block bg-img%}
style= "background-image: url('{% static 'images/putting_on_gloves.jpg'%}'); background-size: cover; background-position: center;  background-repeat: no-repeat;")
{%endblock%}
{%block content%}
<div style="color: #ffd23f;">
    
</div>
<div id = "order_summary" style="font-family: Alegreya SC; background-color: rgba(0,0,0,0.7); display:flex; flex-direction: column; align-items:center; padding-bottom: 5%; font-size: 2em; color: white; text-align: center;">
    <h1 style="margin: 1em; color: #ffd23f">Order History</h1>
    <table>
        <tr>
            <th>
                Transaction
            </th>
            <th>
                Status
            </th>
            <th>
                Amount
            </th>
            <th>
                Action
            </th>
        </tr>
        {% for tx in user_transactions %}
        {% if tx.charge.amount != None %}
        <tr>
            <td>
                # {{tx.id}}
            </td>
            <td>
                {{tx.status}}
            </td>
            <td>
                $ {% widthratio tx.charge.amount 100 1 %}
            </td>
            <td>
                <a style="font-size: 0.5em; color: #ffd23f;" href="/payment/orderhistory/{{tx.id}}">view</a>
            </td>
        </tr>
        
        {% endif %}
        {%endfor%}
    </table>
    

    <div style="margin-top: 1.5em;">
        <h3>If you have any questions regarding your transactions, feel free to contact us <a style="color: #ec4e20" href="{% url "contactPage" %}">here</a></h3>
    </div>
</div>


{%endblock%}