{%extends 'base.template.html'%}

{% load static %}
{%block bg-img%}
style="background-color: #373f51"
{%endblock%}
{%block content%}
<div style="min-height: 700px; color: #ffd23f; display: flex; flex-direction: column; align-items: left; margin-left: 10%;">
    <div>
        <h1><i class="far fa-smile-wink"></i> Order History</h1>
    </div>
    {% for tx in user_transaction %}
    <div style="font-size: 2em; color: white;">
          {{tx}} - $ {{tx.charge.amount}}
    </div>
    {%endfor%}
    <div style="color: white">
        <p>If you have further questions, feel free to contact me! <a href="#"><i style="color: #ffd23f;"class="fas fa-user"></i></a></p>
    </div>
    <div style="margin-top: 1.5em;">
        <h3>Congratulations! You have earned a referral code: {{unique_code}}</h3>
    </div>
    <div>
        <p>Use this referral code to receive 10% off from the next purchase!</p>
        <p>You or a friend may use the code! However, it expires on SGT {{expiry_date}}! </p>
        <p>Note that this code will NOT be shown again once you leave this page due to security reasons.</p>
    </div>
</div>


{%endblock%}