{%extends 'base.template.html'%}

{% load static %}
{%block bg-img%}
style= "background-image: url('{% static 'images/putting_on_gloves.jpg'%}'); background-size: cover; background-position: center;  background-repeat: no-repeat;")
{%endblock%}
{%block content%}
<div style="font-family: Alegreya SC; background-color: rgba(0,0,0,0.7); min-height: 700px; color: #ffd23f; display: flex; flex-direction: column; align-items: left; padding: 1em;">
    <div>
        <h1>Transaction ID: <span style="color: white;">{{tx_id}}</span></h1>
    </div>
    {% for item in invoice_items %}
    <div style="border-bottom: 1px #ffd23f solid; padding: 2em;">
        <div style="font-size: 1.4em; color: white;">
              <span style="color: #ffd23f;">Product:</span> {{item.product}}
        </div>
        <div style="font-size: 1.4em; color: white;">
              <span style="color: #ffd23f;">Quantity:</span> {{item.quantity}}
        </div>
    </div>
    {%endfor%}
    <div>
        Total Amount Paid: <span style="color: white;">$ {% widthratio user_transaction.charge.amount 100 1 %}</span>
    </div>
    <div style="margin-top: 2em; color: white; text-align: center;">
        <h3>If you have any questions regarding your transactions, feel free to contact us <a style="color: #ec4e20" href="{% url "contactPage" %}">here</a></h3>
    </div>
</div>


{%endblock%}