{%extends 'base.template.html'%}

{% load static %}
{%block bg-img%}
style="background-color: #373f51"
{%endblock%}
{%block content%}
<div style="min-height: 700px; color: #ffd23f; display: flex; flex-direction: column; align-items: left; margin-left: 10%;">
    <div>
        <h1><i class="fas fa-sitemap"></i> Transaction ID: <span style="color: white;">{{tx_id}}</span></h1>
    </div>
    {% for item in invoice_items %}
    <div style="border-bottom: 1px #ffd23f solid; padding: 2em;">
        <div style="font-size: 1.4em; color: white;">
              <span style="color: #ffd23f;">Product:</span> {{item.product}}
        </div>
        <div style="font-size: 1.4em; color: white;">
              <span style="color: #ffd23f;">Quantity:</span> {{item.quantity}}
        </div>
    </div>
    {%endfor%}
    <div>
        Total Amount Paid: <span style="color: white;">$ {% widthratio user_transaction.charge.amount 100 1 %}</span>
    </div>
    <div style="margin-top: 1.5em;">
        <h3>If you have any questions regarding your transactions, feel free to contact me! <a href="#"><i style="color: #ffd23f;"class="fas fa-user"></i></a></h3>
    </div>
</div>


{%endblock%}